﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Start.aspx.cs" Inherits="School_control.Start" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder" runat="server">
    <div>
        <div class="rek">
            <h1>Школа<asp:ScriptManager ID="ScriptManager1" runat="server">
                </asp:ScriptManager>
            </h1>
            <p>Вы можете записаться в нашу школу</p>
            <p>Для этого пройтиде регистрацию</p>
        </div>
        <div class="info">
            Линейка состоится 1 ентября 2020 года в 11:00                       
        </div>
    </div>
</asp:Content>
