﻿
h1 {
    margin: 0px;
    padding: 2px 0;
    font-size: 30px;
    font-weight: bold;
}

#form1 label {
    width: 120px;
    display: inline-block;
}

#form1 input {
    margin: 2px;
    margin-left: 4px;
    width: 150px;
}

#form1 select {
    margin: 2px 0;
    width: 154px;
}

button[type=submit] {
    margin-top: 15px;
    padding: 5px;
}

table, td, th {
    border: thin solid black;
    border-collapse: collapse;
    padding: 5px;
    background-color: lemonchiffon;
    text-align: left;
    margin: 10px 0;
}

.footer_menu li {
    margin: 0px;
    padding: 0 20px;
    display: inline;
    border-right: 1px solid #000000;
}

.footer {
    font-size: 18px;
    text-align: left;
}
